name: Test workspace

on:
  push:
    branches:
      - development
      - master
    paths-ignore:
      - 'systems/**'
  pull_request:
    paths-ignore:
      - 'systems/**'
env:
  CI: true
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.0.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
      - run: bash ./scripts/setup.sh
      - run: bash ./scripts/lint.sh