env:
  CI: true
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4.0.1
        with:
          cache: npm
          cache-dependency-path: '**/package-lock.json'
          node-version-file: .nvmrc
      - run: bash ./scripts/setup.sh
      - run: bash ./scripts/lint.sh
name: Test workspace

on:
  pull_request:
    paths-ignore:
      - 'systems/**'
  push:
    branches:
      - development
      - master
    paths-ignore:
      - 'systems/**'
